body{
  font-family: 'Gayathri', sans-serif !important;
  background: #f3f3f3 !important;
  color: #000000;
}
.row{
  margin-top: 40px;
}
.brand-name{
  max-width:50%;
}
.bg-dark-nav{
  background-color: #0a0a0a;
}
.hamburger-menu{
  position: fixed;
  top: 25px;
  right: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  background-color: #0a0a0a;
  border-radius: 4px;
  cursor: pointer;
  z-index: 999;
}
.hamburger-menu i{
  font-size: 30px;
  color: rgba(99,207,243,1);
  margin: auto;
}
.hamburger-menu .fa-times{
  display: none;
}
.hamburger-menu .fa-times.open{
  display: block;
}
.hamburger-menu .fa-bars.open{
  display: none;
}
.nav-list{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  list-style: none;
  background-color: #0a0a0a;
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content:center;
  opacity: 0;
  transform: scale(0);
  transition: 650ms;
}
.nav-list.open{
  opacity: 1;
  transform: scale(1);
}
.home-menu{
  text-decoration: none !important;
  border: 1px solid #d0d6d6 !important;
  padding: 10px;
  border-radius: 10px;
  color: #000000;
  margin-top: 10px;
}
.table-title{
	background-color: #2b838a;
	color: white;
	text-align: center;
	}
th, td {
  text-align: left;
  padding: 8px;
	border: 1px solid #f0f0f0;
	font-size: 13px;
}

tr:nth-child(even){background-color: #f2f2f2}
.default-table{
overflow-x: auto;
}
@media only screen and (min-width: 576px){
  
  .hamburger-menu{
    display: none;
    }
    .nav-list{
      position: initial;
      width: initial;
      height:initial;
      background-color: initial;
      flex-direction: row;
      opacity:initial;
      transform: initial;
      margin: 0;
      padding: 0;
    }
}
.footer {
  font-family: 'Lobster', cursive;
  left: 0;
  bottom: 0;
  width: 100%;
  color: darkslategray;
  text-align: center;
  font-size: 10px;
  padding: 10px;
}

.nav-link{
  color: #d1d1d1 !important;
}
.nav-link:hover{
  color: #ffffff !important;
}
.navbar-dark{
  color: #000000 !important;
}
.footer nav{
float: inline-end !important;
font-size: 20px;
}
.footer nav a{
  text-decoration: none !important;
  color: darkslategray !important;
  margin-left: 10px;
}
.embed-responsive{
  height: 100% !important;
}
@media only screen and (max-width: 992px){
 
} 